.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-weight: 900;
  font-size: 70px;
  line-height: 90%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: -webkit-gradient(linear, right top, left top, from(#001024), color-stop(50%, #002555), to(#001024));
  background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 137px;
}

.logo__link {
  fill: #fff;
  z-index: 1;
}

.menu__list {
  color: #fff;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}
@media (min-width: 860px) {
  .menu__list {
    gap: 26px;
  }
}
@media (min-width: 1170px) {
  .menu__list {
    gap: 40px;
  }
}
.menu__link {
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.menu__link:hover {
  color: #ffe251;
}

@media (min-width: 860px) {
  .menu__link {
    font-size: 16px;
  }
}
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 137px;
  }
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(#001024), color-stop(50%, #002555), to(#001024));
    background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
    left: -100%;
    top: 0;
    padding: 137px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 137px;
    background: -webkit-gradient(linear, right top, left top, from(#001024), color-stop(50%, #002555), to(#001024));
    background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
    z-index: 2;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    text-align: center;
  }
  .menu__link {
    font-size: 20px;
    font-weight: 600;
  }
}
.hero {
  background: -webkit-gradient(linear, right top, left top, from(#001024), color-stop(50%, #002555), to(#001024));
  background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
  padding-top: 170px;
  padding-bottom: 170px;
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.hero__title {
  width: 431px;
  font-weight: 900;
  font-size: 116px;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero__title span {
  font-size: 106px;
}

.hero__description {
  width: 426px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  border-radius: 8px;
  background-color: #e50103;
  padding: 10px 27px 14px;
  margin-bottom: 38px;
}

.courses {
  width: 578px;
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  row-gap: 15px;
}

.courses__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 9px;
  width: 174px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 0 7px 7px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.courses__link:hover,
.courses__link:focus {
  background-color: #8394b0;
}/*# sourceMappingURL=main.css.map */