.advantages {
  padding: 0 0 50px 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 170px;
  }
}

.advantages__swiper-slide {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 10px 52px;
  border-radius: 20px;
  // width: 270px;
  height: 406px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 0.4s linear;
}

.advantages__swiper-slide:hover,
.advantages__swiper-slide:focus {
  background-color: $colorBgCard;
}

.advantages__image {
  margin: 0 auto;
  margin-bottom: 20px;
}

.advantages__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 20px;
}

.advantages__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
