.consultation {
  padding: 0 0 50px 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 170px;
  }
}

@media (min-width: 1100px) {
  .consultation .section__title {
    text-align: left;
  }
}

.consultation__title-span {
  color: $colorSpan;
}

@media (min-width: 1100px) {
  .consultation__block {
    position: relative;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 14px;
  width: 290px;

  @media (min-width: 768px) {
    width: 414px;
  }

  @media (min-width: 1100px) {
    margin-left: 0;
  }
}

.form__input {
  width: 290px;
  height: 50px;
  border-radius: 1000px;
  background: $colorBgGray;
  padding: 12px 0 12px 17px;
  font-weight: 500;
  font-size: 18px;
  outline: none;

  @media (min-width: 768px) {
    width: 414px;
    height: 78px;
    padding: 22px 0 22px 27px;
    font-size: 24px;
  }
}

.form__input:focus {
  background: $colorBgGray;
}

.form__button {
  width: 290px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px;
  text-align: center;
  border: 2px solid $colorRed;
  border-radius: 1000px;
  transition: background-color 0.4s linear;

  @media (min-width: 768px) {
    width: 414px;
    font-size: 24px;
    padding: 22px 17px;
  }
}

.form__button:hover,
.form__button:focus {
  background-color: $colorRed;
}

.consultation__image {
  display: none;

  @media (min-width: 1100px) {
    display: block;
    position: absolute;
    content: "";
    top: -98px;
    right: 10px;
  }
}

// Фон выпадающего меню со списком стран
.iti__dropdown-content {
  background-color: #2d2525;
}
.iti--inline-dropdown .iti__dropdown-content {
  z-index: 11;
}

// Поиск
.iti__search-input {
  color: brown;
}

//Stripes
.stripe__wrapper {
  position: relative;
  width: 100%;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;

  @media (min-width: 1100px) {
    margin-bottom: 240px;
  }
}

.consultation__stripe {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: $colorWhite;
  box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.55);

  @media (min-width: 768px) {
    height: 80px;
  }
}

.yellow__box {
  background-color: $colorSpan;
  transform: rotate(10deg);
  z-index: 10;
  white-space: nowrap;
  position: absolute;
  top: 61px;
  left: 1px;
  right: 1px;

  @media (min-width: 1100px) {
    transform: rotate(4deg);
    top: 90px;
  }
}

.red__box {
  background-color: $colorRed;
  transform: rotate(-10deg);
  z-index: 9;
  white-space: nowrap;
  position: absolute;
  top: 62px;
  left: 1px;
  right: 1px;

  @media (min-width: 1100px) {
    transform: rotate(-7deg);
    top: 114px;
  }
}

.stripe__list {
  display: flex;
  align-items: center;
  gap: 46px;
}

.stripe__yellow-item {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-transform: uppercase;
}

.stripe__yellow-item:nth-child(even) {
  background-color: black;
  width: 255px;
}

.stripe__yellow-item:nth-child(odd) {
  background-color: transparent;
  width: 237px;
}

.yellow__box .stripe__list {
  animation: yellow-infinite 30s linear infinite;
}

.red__box .stripe__list {
  animation: red-infinite 30s linear infinite;
}

@keyframes yellow-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@keyframes red-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.yellow {
  color: $colorSpan;
}

.black {
  color: #030003;
}

.red {
  color: $colorRed;
}
