.consultation {
  padding: 0 0 50px 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 170px;
  }
}

.consultation .section__title {
  text-align: left;
}

.consultation__title-span {
  color: $colorSpan;
}

@media (min-width: 1100px) {
  .consultation__block {
    position: relative;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 14px;
  width: 290px;

  @media (min-width: 768px) {
    width: 414px;
  }

  @media (min-width: 1100px) {
    margin-left: 0;
  }
}

.form__input {
  width: 290px;
  height: 50px;
  border-radius: 1000px;
  background: $colorBgGray;
  padding: 12px 0 12px 17px;
  font-weight: 500;
  font-size: 18px;
  outline: none;

  @media (min-width: 768px) {
    width: 414px;
    height: 78px;
    padding: 22px 0 22px 27px;
    font-size: 24px;
  }
}

.form__input:focus {
  background: $colorBgGray;
}

.form__button {
  width: 290px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px;
  text-align: center;
  border: 2px solid $colorRed;
  border-radius: 1000px;
  transition: background-color 0.4s linear;

  @media (min-width: 768px) {
    width: 414px;
    font-size: 24px;
    padding: 22px 17px;
  }
}

.form__button:hover,
.form__button:focus {
  background-color: $colorRed;
}

.consultation__image {
  display: none;

  @media (min-width: 1100px) {
    display: block;
    position: absolute;
    content: "";
    top: -98px;
    right: 10px;
  }
}

.stripe__yellow-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  background-color: $colorSpan;
  transform: rotate(4deg);
  animation: marquee-infinite 15s linear infinite;
  overflow: hidden;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.stripe__yellow-first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  background-color: #030003;
  padding: 10px 20px;
}

.stripe__yellow-second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  background-color: $colorSpan;
  padding: 10px 20px;
}

.yellow__span {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: $colorSpan;
}

.white__span {
  color: $colorWhite;
}

.black__span {
  color: #030003;
}
