.footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 50px 0;
  }
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    .footer__container {
      flex-wrap: nowrap;
    }
  }
}

.footer__info {
  width: 290px;
  margin: 0 auto 30px;

  @media (min-width: 768px) {
    width: 515px;
    margin: 0 0 45px;
  }

  @media (min-width: 835px) {
    width: 805px;
  }

  @media (min-width: 1125px) {
    width: 1095px;
  }

  @media (min-width: 1200px) {
    width: 310px;
    margin: 0 116px 0 0;
  }
}

.footer__info .logo__link {
  margin-bottom: 15px;

  @media (min-width: 1200px) {
    margin-bottom: 25px;
  }
}

.footer__info-text {
  margin-bottom: 15px;
  line-height: 1.2;

  @media (min-width: 1200px) {
    margin-bottom: 76px;
  }
}

.footer__info-rights {
  font-size: 12px;
  line-height: 1.2;
}

.footer__info-rights a:hover,
.footer__info-rights a:focus {
  color: $colorHoverFooter;
  transition: color 0.3s linear;
}

.footer__contacts {
  width: 290px;
  margin: 0 auto 30px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.footer__contacts-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  fill: $colorWhite;
  transition: all 0.3s linear;
}

.address__link:hover,
.address__link:focus {
  color: $colorHoverFooter;
  fill: $colorHoverFooter;
}

.social {
  width: 290px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 256px;
    margin: 0 0 0 auto;
  }
}

.social__list {
  display: flex;
  gap: 24px;
}

.social__link {
  fill: $colorWhite;
  transition: fill 0.3s linear;
}

.social__link:hover,
.social__link:focus {
  fill: $colorHoverFooter;
}
