#scrollToTop {
  position: fixed;
  bottom: 40px;
  left: 75%;
  z-index: 5;
  border-radius: 50%;
  opacity: 0.4;
}

.scroll-up {
  fill: $colorWhite;
  transition: fill 0.3s linear;
}

.scroll-up:hover {
  fill: $colorHoverFooter;
}
