.specialty {
  padding: 0 0 50px 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 170px;
  }
}

.specialty__swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 17px 12px 30px;
  height: 431px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;

  @media (min-width: 530px) and (max-width: 645px) {
    height: 451px;
  }
}

.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card__name {
  font-weight: 700;
  font-size: 29px;
  line-height: 130%;

  @media (min-width: 530px) and (max-width: 575px) {
    font-size: 22px;
  }

  @media (min-width: 576px) and (max-width: 600px) {
    font-size: 26px;
  }

  @media (min-width: 601px) and (max-width: 650px) {
    font-size: 29px;
  }

  @media (min-width: 800px) {
    font-size: 36px;
  }

  @media (min-width: 1024px) {
    font-size: 42px;
  }
}

.card__top img {
  height: 60px;
}

.card__start {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 21px;
}

.card__technology {
  height: 78px;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  margin-bottom: 21px;

  @media (min-width: 530px) and (max-width: 645px) {
    height: 100px;
  }
}

.card__technology span {
  font-weight: 700;
}

.card__duration {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  margin-bottom: 30px;

  @media (min-width: 626px) and (max-width: 671px) {
    font-size: 18px;
  }
}

.card__duration span {
  font-weight: 700;
}

.card__button {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #e50103;
  border-radius: 100px;
  padding: 12px 54px;
  transition: background-color 0.4s linear;
}

.card__button:hover,
.card__button:focus {
  background-color: #e50103;
}

.swiper-pagination {
  position: relative;
  margin-top: 14px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background-color: $colorBullets;
}
